<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <div class="footer-section about">
          <h2>About Us</h2>
          <p>We offer a wide range of products, each crafted with care and precision. Our products are known for their unique feature, and we are constantly working to bring new and innovative items to our lineup.</p>
        </div>
        <div class="footer-section links">
          <h2>Quick Links</h2>
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Shop</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">About</a></li>
          </ul>
        </div>
        <div class="footer-section contact">
          <h2>Contact Us</h2>
          <p>Email: ecomm&#64;info.com</p>
          <p>Phone: +91 934655924</p>
        </div>
      </div>
    </div>
  </footer>
