

 #container {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

 footer {
    height: 50px;
    flex-shrink: 0;
    background-color: #134c7d;
  }
  
  main {
    flex: 1 0 auto;
  }

